* {margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body {background-color:#F3F3F3}

nav {width:100%;
	height:75px;
	line-height:75px;
	padding:0px 100px;
	position:fixed;
	background-color:#232121;
}

nav .logo p{
	font-size:30px;
	font-weight: bold;
	float:left;
	color:white;
	text-transform:uppercase;
	letter-spacing:1.5px;
}

nav ul {float: right;
}
nav li {display: inline-block;
	list-style: none;
}
nav li a{font-size:18px;
	text-transform:uppercase;
	padding:0px 30px;
	color:white;
	text-decoration:none;
}

#P {position:absolute;
	top:100px;
left:100px;}
#h1 {position:absolute;
	top:100px;
	left:450px;
	color:white;
	font-size:50px
}

#j1 {position:absolute;
	top:170px;
left:450px;
color:white;
font-size:20px;
}
#h2 {position:absolute;
	top:250px;
	left:450px;
	color:white;
	font-size:50px
}
#p1 {position:absolute;
	top:320px;
left:450px;
color:white;
font-size:20px;
width:1400px}

#KD {position:fixed;
	bottom:10px;
	right:10px;
	color:white;
	
}
